html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
}

body {}

.grid {
    width: 500px;
    border: black 3px solid;
}

.grid-item {
    height: 100px;
    background-color: green;
}

.grid-other {
    width: 800px;
    border: black 3px solid;
}

.this {
    height: 70px;
    background-color: blue;
}

.sm {
    height: 50px;
}

.md {
    height: 150px;
}

.lg {
    height: 200px;
}